<mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="selectionChange($event)">

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>ตรวจสอบ</ng-template>
      <h5 class="matStep-Label">ตรวจสอบให้แน่ใจว่าคุณได้สแกนเอกสารการสมัครเรียบร้อยแล้วใช่ หรือไม่ ?</h5>
      <div>

        <button class="matraised-button" mat-raised-button color="primary" (click)="aa()">ไม่</button>
        &nbsp; &nbsp; &nbsp;
        <button mat-raised-button color="primary" matStepperNext>ใช่</button>

      </div>
    </form>
  </mat-step>

  ///step2///
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel matStepfile>เลือกไฟล์สูติบัตร</ng-template>

      <div class="container">
        <input hidden type="file" #fileInput (change)="detectFiles($event)">
        <div class="container">
          <mat-icon class="icon-unarchive iconunarchive" (click)="fileInput.click()">unarchive</mat-icon>
          <input hidden type="file" #fileInput (change)= "detectFiles($event)">
        </div>

        <h6 class="labelpage2">● กดที่ไอคอนเพื่ออัปโหลดไฟล์ใบสูติบัตร ●</h6>
        <div class="filepage5">{{fileSelected}}
        </div>
      </div>

      <div><br>
        <button class="matraised-button2" mat-raised-button color="primary" (click)="aa()">ยกเลิก</button>
        &nbsp;     &nbsp;
        <button mat-raised-button color="primary" matStepperNext>ถัดไป</button>
      </div>
    </form>
  </mat-step>

  ///step3///
  <mat-step [stepControl]="secondFormGroup">
    <!-- <form [formGroup]="secondFormGroup"> -->
    <ng-template matStepLabel>แสดงข้อมูลสูติบัตร</ng-template>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <div class="col-12">
        <div class="row mt-3">
          <div class="col-6">
            <mat-card class="example-card">
              <img mat-card-image src="/src/assets/su.jpg" >
            </mat-card>
          </div>

          <div class="col-6" *ngIf="!isshow">
            <div class="example-form">
              <mat-form-field>
                <input matInput placeholder="ชื่อ-นามสกุล" [(ngModel)]="studentdata.fullname">
              </mat-form-field>
              &nbsp;
              <mat-form-field>
                <input matInput placeholder="เพศ" [(ngModel)]="studentdata.sex">
              </mat-form-field>
              &nbsp;
              <mat-form-field>
                <input matInput placeholder="สัญชาติ" [(ngModel)]="studentdata.nationality">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput placeholder="เลขประจำตัวประชาชน" [(ngModel)]="studentdata.id">
              </mat-form-field>
              &nbsp;
              <mat-form-field>
                <input matInput placeholder="วันเดือนปีเกิด" [(ngModel)]="studentdata.birthdate">
              </mat-form-field>
              &nbsp;
              <mat-form-field>
                <input matInput placeholder="เวลา" [(ngModel)]="studentdata.birthtime">
              </mat-form-field>
              <br>
              <mat-form-field class="place-birthday">
                <input matInput placeholder="สถานที่เกิด" [(ngModel)]="studentdata.placebirth">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput placeholder="เป็นบุตรลำดับที่" [(ngModel)]="studentdata.numson">
              </mat-form-field>
              &nbsp;
              <mat-form-field>
                <input matInput placeholder="ผู้ทำคลอด" [(ngModel)]="studentdata.doctor">
              </mat-form-field>
              &nbsp;
              <mat-form-field>
                <input matInput placeholder="น้ำหนักแรกเกิด" [(ngModel)]="studentdata.weight">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput placeholder="เพิ่มชื่อเข้าทะเบียนบ้านเลขที่" [(ngModel)]="studentdata.registerhome">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput placeholder="ชื่อ-สกุลมารดา" [(ngModel)]="studentdata.fullnamemother">
              </mat-form-field>
              &nbsp;
              <mat-form-field>
                <input matInput placeholder="เลขประจำตัวประชาชน" [(ngModel)]="studentdata.idmother">
              </mat-form-field>
              &nbsp;
              <mat-form-field>
                <input matInput placeholder="อายุ" [(ngModel)]="studentdata.agemother">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput placeholder="ชื่อ-สกุลบิดา" [(ngModel)]="studentdata.fullnamefather">
              </mat-form-field>
              &nbsp;
              <mat-form-field>
                <input matInput placeholder="เลขประจำตัวประชาชน" [(ngModel)]="studentdata.idfather">
              </mat-form-field>
              &nbsp;
              <mat-form-field>
                <input matInput placeholder="อายุ" [(ngModel)]="studentdata.agefather">
              </mat-form-field>
            </div>
          </div>
          <div class = "spinner-doc" *ngIf="isshow">กำลังโหลดไฟล์ "{{fileSelected}}"
          <mat-spinner *ngIf="isshow"></mat-spinner>
        </div>
        </div>
      </div>

      <div>
        <button class="mat-buttonpage3" mat-raised-button color="primary" matStepperPrevious>ย้อนกลับ</button>
        &nbsp;
        <button mat-raised-button color="primary" matStepperNext>ถัดไป</button>
      </div>
    </cdk-virtual-scroll-viewport>
    <!-- </form> -->
  </mat-step>


  ///step4///
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>เลือกไฟล์เอกสารประกอบการสมัครอื่นๆ</ng-template>

      <div class="container">
          <mat-icon class="icon-unarchive iconunarchive" (click)="fileInput2.click()">unarchive</mat-icon>
          <input hidden type="file" #fileInput2 multiple (change)= "detectFile2($event)">
        </div>

      <h5 class="filepage4">● กดที่ไอคอนเพื่ออัปโหลดไฟล์เอกสารประกอบการสมัครอื่นๆ ●</h5>
      <p class="fileotherpage4">เช่น ข้อมูลส่วนตัว,สำเนาบัตรประชาชน, <br>
        สำเนาทะเบียนบ้าน,หลักฐานการเรียน
      </p>

      <strong class="notationpage4">**หมายเหตุ: สามารถเลือกไฟล์ได้มากกว่า 1 ไฟล์</strong>
      <br>

      <div class="filepage5" *ngFor="let item of filesMulti">
        <mat-icon class="icon-done">done</mat-icon>{{item.name}}
      </div>

      <div> <br>
        <button class="buttonpage4" mat-raised-button color="primary" matStepperPrevious>ย้อนกลับ</button>
        &nbsp; &nbsp; &nbsp;
        <button mat-raised-button color="primary" matStepperNext>ถัดไป</button>
      </div>
    </form>
  </mat-step>

  ///step5///
  <mat-step>
    <ng-template matStepLabel>ตรวจสอบข้อมูลและเอกสารให้ถูกต้อง</ng-template>
    <h5 class="testpage5">ตรวจสอบข้อมูลและเอกสารให้ถูกต้อง</h5>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

      <div class="dataallpage5">
        <mat-form-field>
          <input matInput placeholder="ชื่อ-นามสกุล" [(ngModel)]="studentdata.fullname">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="เพศ" [(ngModel)]="studentdata.sex">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="สัญชาติ" [(ngModel)]="studentdata.nationality">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="เลขประจำตัวประชาชน" [(ngModel)]="studentdata.id">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="วันเดือนปีเกิด" [(ngModel)]="studentdata.birthdate">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="เวลา" [(ngModel)]="studentdata.birthtime">
        </mat-form-field>
        <br>
        <mat-form-field class="place-birthday">
          <input matInput placeholder="สถานที่เกิด" [(ngModel)]="studentdata.placebirth">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="เป็นบุตรลำดับที่" [(ngModel)]="studentdata.numson">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="ผู้ทำคลอด" [(ngModel)]="studentdata.doctor">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="น้ำหนักแรกเกิด" [(ngModel)]="studentdata.weight">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="เพิ่มชื่อเข้าทะเบียนบ้านเลขที่" [(ngModel)]="studentdata.registerhome">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="ชื่อ-สกุลมารดา" [(ngModel)]="studentdata.fullnamemother">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="เลขประจำตัวประชาชน" [(ngModel)]="studentdata.idmother">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="อายุ" [(ngModel)]="studentdata.agemother">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="ชื่อ-สกุลบิดา" [(ngModel)]="studentdata.fullnamefather">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="เลขประจำตัวประชาชน" [(ngModel)]="studentdata.idfather">
        </mat-form-field>
        &nbsp;
        <mat-form-field>
          <input matInput placeholder="อายุ" [(ngModel)]="studentdata.agefather">
        </mat-form-field>
      </div>

      <h5 class="testpage5">●ไฟล์เอกสารประกอบการสมัครอื่นๆ●</h5>
      <div class="filepage5" *ngFor="let item of filesMulti">
          <mat-icon class="icon-done">done</mat-icon>{{item.name}}
        </div> <br>

        <div>
            <button class="buttonpage5" mat-raised-button color="primary" matStepperPrevious>ย้อนกลับ</button>
            &nbsp;
            <button mat-raised-button color="primary" (click)="aa()" matStepperNext>บันทึก</button>
          </div>
    </cdk-virtual-scroll-viewport>
  </mat-step>
</mat-horizontal-stepper>
