//step1
.matStep-Label{
  margin-left: 20%;
}
.matraised-button{
margin-left: 40%;
}

//step2
.matStepfile{
  margin-left: 70%;
  font-size: 200%;
}

.labelpage2{
  margin-left: 43%;
}

.matraised-button2{
  margin-left: 40%;
  width: 20%;
height: 20;
}
.matraised-button2page2{
  margin-left: 42%;
}

//Step3
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.place-birthday{
 width: 70%;
}

.example-viewport {
  height: 470px;
  width: 1000px;
  border: 1px solid #00000021;
}

.mat-buttonpage3{
  margin-left: 65%;
}

.spinner-doc{
  margin-left: 15%;
  margin-top: 20%;
}

.spinner-doc1{
  margin-left: 22.5%;
}

//step4
.iconunarchive {
  margin-left: 40%;
  font-size: 200px
}
.filepage4{
  margin-left: 25%;
}
.fileotherpage4{
  margin-left: 40%;
}
.mat-buttonpage4{
  margin-left: 70%;
}
.notationpage4{
  margin-left: 34%;
}
.icon-done{
  color: green;
  font-size: 200%;
}
.buttonpage4{
  margin-left: 42%;
}

//step5
.testpage5{
  margin-left: 34%;
}
.filepage5{
  margin-left: 45%;
}
.fileotherpage5{
  margin-left: 60%;
}
.dataallpage5{
  margin-left: 25%;
}
.buttonpage5{
  margin-left: 42%;
}
