//step1
.matStep-Label{
  margin-left: 25%;
}
.matraised-button{
margin-left: 40%;
}

//step2
.matStepfile{
  margin-left: 78%;
  font-size: 200px
}
.matraised-button2{
  margin-left: 46%;
}
.labelpage2{
  margin-left: 40%;
}

//Step3
.example-form{
  margin-left: 10px;
  }
.example-card {
  max-width: 500px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.place-birthday{
 width: 70%;
}
.example-viewport {
  height: 470px;
  width: 1000px;
  border: 1px solid #00000021;
}
.example-item {
  height: 50px;
}
.mat-buttonpage3{
  margin-left: 70%;
}

//step4
.iconunarchive {
  margin-left: 42%;
  font-size: 200px
}
.filepage4{
  margin-left: 28%;
}
.fileotherpage4{
  margin-left: 40%;
}
.mat-buttonpage4{
  margin-left: 45%;
}
.notationpage4{
  margin-left: 36%;
}

//step5
.datapage5{
  margin-left: 38%;
}
.filepage5{
  margin-left: 50%;
}
