<div class="row mt-3" *ngIf="students.length === 0">
  <h4 class="label">เพิ่มรายชื่อนักเรียนที่ต้องการสมัครเข้าเรียน</h4>
  <mat-icon class="iconaddcircle" (click)="openDialog()">add_circle</mat-icon>
</div>
<div class="row" *ngIf="students.length > 0">
  <h4 class="mt-3">รายชื่อนักเรียน</h4>
  <div class="col-12">
    <div>
      <mat-icon class="iconaddcirclestep2" (click)="openDialog()">add_circle เพิ่มข้อมูลนักเรียน</mat-icon>
    </div>
    <div class="row mt-3">
      <div class="col-3">ชื่อ-สกุล</div>
      <div class="col-3">เลขบัตรประจำตัวประชาชน</div>
      <div class="col-3">สถานะ</div>
      <div class="col-3">จัดการ</div>

    </div>
    <div class="row mt-2" *ngFor="let student of students">
      <div class="col-3">{{student.fullname}}</div>
      <div class="col-3">{{student.numcard}}</div>
      <div class="col-3">

            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>

      </div>
      <div class="col-3"> <button mat-raised-button color="primary">แก้ไข</button>
        &nbsp;
        <button mat-raised-button color="primary">ดาวน์โหลด</button></div>
    </div>
  </div>
</div>
